 * {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 290px;
 }

 li {
    background-color: #fff;
    gap: 10px;
    height: 200px;
    width: 120px;
    border-radius: 5px;
    border: 2px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
 }

 button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    margin-left: 370px;
    height: 50px;
    width: 50px;
    border-radius: 40%;
    cursor: pointer;
 }
